.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    width: 444px;
    height: 231px;
}

.title-content {
    font-size: 26px;
    line-height: 40px;
    width: 385px;
    height: 144px;
    margin-top: -20px;
}

.main-container input {
    width: 157px;
    height: 50px;
    font-size: 14px;
    background-color: rgba(37, 37, 37, 1);
    color: white;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 10px;
    cursor: pointer;
}

.img-left {
    position: absolute;
    left: 30%;
}

.img-right {
    position: absolute;
    left: 55%;
    margin-top: 80px;
}

.img-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 50px;
    width: 1397px;
    height: 477px;
}

.img-1 p {
    font-size: 40px;
    font-weight: 800;
    color: rgba(37, 37, 37, 0.25);
    margin-bottom: 10px;
}

.img-2 p {
    font-size: 40px;
    font-weight: 800;
    color: rgba(37, 37, 37, 0.25);
    margin-bottom: 10px;
}

.img-3 p {
    font-size: 40px;
    font-weight: 800;
    color: rgba(37, 37, 37, 0.25);
    margin-bottom: 10px;
}