.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 64px;
    font-weight: 800;
    width: 610px;
    height: 145px;
}

.title-content {
    font-size: 28px;
    font-weight: 400;
    width: 607px;
    height: 108px;
    line-height: 40px;
    margin-top: -20px;
}

.title-button {
    width: 158px;
    height: 54px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}